/* General styling for the dark theme */
body {
    background-color: #121212;
    color: #ffffff;
}

.comments-by-author {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    height: available;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

/* Styling for the comments section */
.comments-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-box {
    display: flex;
    background-color: #1e1e1e;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.thumbnail img {
    width: 70px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

.comment-content {
    display: flex;
    flex-direction: column;
}

.comment-content p {
    margin: 0;
    color: #ffffff;
}
