.App {
  text-align: center;
  background-color: #1a1d20;
}

.App-logo {
  height: 13vmin; /* Decrease the logo size */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #16181c;
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(15px + 2vmin);
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  height: 200px;
  position: relative;
}

.App-button {
  display: flex;
  align-items: center;
  margin-left: 25px;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  z-index: 2;
}

.App-header:before,
.App-header:after,
.new-diagonal-line {
  content: "";
  position: absolute;
  width: 8px;
  height: 300%;
  background-color: red;
  top: -100%;
  z-index: 0; /* Ensure lines are below other elements */
}

.App-header:before {
  transform: rotate(45deg);
  left: 75%;
}

.App-header:after {
  transform: rotate(45deg);
  left: 80%;
}

.App-link {
  color: #61dafb;
}

.App-title {
  position: relative; /* Ensure the title is above the lines */
  z-index: 2; /* Set the z-index higher than the lines */
}

.header-content {
  display: flex;
  align-items: center;
  flex: 0;
  position: relative; /* Ensure the content is above the lines */
  z-index: 2; /* Set the z-index higher than the lines */
}

.button-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.oauth-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #16181c;
  font-size: inherit;
  cursor: pointer;
}

.oauth-button.logout {
  background-color: #d80000;
}

.oauth-button:hover {
  background-color: #003ea8;
}

.oauth-button.logout:hover {
  background-color: #a80000;
}

.button-icon {
  display: flex;
  align-items: flex-end;
  width: 50vmin;
  height: 30vmin;
  margin-top: 8px;
  margin-right: 8px;
  color: #16181c;
}

.auth-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 10px;
}

.ichigo-icon {
  flex: 2;
  background-color: transparent;
  position: center;
  width: 30vmin; /* Adjust the width of the image */
  height: 30vmin; /* Adjust the height of the image */
}

.title-text1 {
  background-color: transparent;
  flex: 1;
}

.Author-Button {
  display: flex;
  align-items: center;
  margin-left: 25px;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  z-index: 2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
