.upload-button {
    flex: 2;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 15vmin;
    height: 15vmin;
}

.upload-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Add a subtle hover effect */
}

.upload-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007bff; /* Add a focus style */
}
