.upload-button {
    flex: 2;
    background-color: transparent;
    border: none;
    color: transparent;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0px;
    width: 0vmin;
    height: 25vmin;
}
h2 {
    text-align: center;
    color: #ffffff;
}
.upload-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Add a subtle hover effect */
}

.upload-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007bff; /* Add a focus style */
}
